@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Poppins&display=swap");

.manrope-dugam {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.form-label,
.form-control,
.form-select {
  font-size: 15px !important;
}

.App {
  height: fit-content;
  width: 100%;
}

.brand-color {
  color: #ff5a5f !important;
}

/* .image-filter {
  filter: grayscale(100%) !important;
}

.image-unfilter:hover {
  filter: none !important;
} */

.not-allowed-cursor {
  cursor: not-allowed !important;
}
.custom-sec {
  background-color: #e9ecf5 !important;
}

.custom-light {
  color: rgb(240, 240, 240) !important;
}

.custom-pry {
  background-color: #ff5a5f !important;
}

.custom-pry-border {
  border: 1.5px solid #ff5a5f !important;
}

.custom-pry-color {
  color: #464545 !important;
}

.custom-link:hover {
  color: #ff5a5f !important;
}

.custom-pry-btn {
  background-color: #0678b1 !important;
  border: 1px solid transparent !important;
}

.custom-pry-bordered-btn {
  background-color: transparent;
  border: 2px solid #0678b1 !important;
}

.custom-pry-text {
  color: #0678b1 !important;
}

.social-button-1:hover {
  color: rgb(206, 28, 28) !important;
}

.social-button-2:hover {
  color: rgb(14, 175, 49) !important;
}

.social-button-3:hover {
  color: rgb(35, 4, 107) !important;
}

.box-400 {
  height: 400px;
}

.box-150 {
  height: 150px;
}

.box-650 {
  height: 650px;
}

.box-fit {
  height: fit-content !important;
}

.nav-tabs .nav-link {
  color: black !important;
}

li {
  list-style-type: none !important;
}

ul ol {
  list-style-type: circle !important;
}
button[role="tab"] {
  color: #ffc400 !important;
  border-radius: 0% !important;
}

.popover-btn:hover {
  background-color: #e9ecf5 !important;
}

.smaller-text {
  font-size: 14px !important;
}

/* Landing page circles animation - using fieldsets and legends */

.bigger-circle {
  height: 870px !important;
  width: 870px !important;
  border-radius: 50% !important;
  border: 2px solid rgb(94, 146, 188) !important;
  animation: bigger 80s;
  animation-iteration-count: infinite;
}

.big-circle {
  height: 670px !important;
  width: 670px !important;
  border-radius: 50% !important;
  border: 2px solid rgb(132, 180, 219) !important;
  animation: big 70s;
  animation-iteration-count: infinite;
}

.small-circle {
  position: relative;
  height: 470px !important;
  width: 470px !important;
  border-radius: 50% !important;

  border: 1px solid rgb(130, 161, 186) !important;
  animation: smallCircle 60s;
  animation-iteration-count: infinite;
}

/* Remove validation styles from inputs and selects within .was-validated */

.was-validated .form-select:valid,
.was-validated .form-select.is-valid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4z'/%3E%3C/svg%3E") !important;
  background-position: right 1.75rem center !important;
  background-size: 8px 10px !important;
  background-repeat: no-repeat !important;
}

.popover-arrow {
  display: none !important;
}

.remove-outline {
  outline: 1px solid red !important;
}

.user-summary {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

.inner-legend {
  height: 18px !important;
  width: 100px !important;
  float: none !important;
  background-color: transparent !important;
  margin-left: 44%;
  margin-top: 3%;
  border-radius: 10px;
}

/* Slight dangling shake animation */
.shake-card:hover {
  animation: shake-dangle 0.7s ease-in-out;
}

@keyframes shake-dangle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(1.5deg);
  }
  80% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Create a class for the shake animation */
.card-hover:hover {
  cursor: pointer !important;
  border: 1px solid #ffc400 !important;
}

@keyframes bigger {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes big {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes smallCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.suggestion-explore-text:hover {
  color: #ff5a5f !important;
}

.suggestion-boxes:hover {
  background-color: whitesmoke;
}

@media screen and (max-width: 600px) {
  #narrow-search-items,
  #connect-page-wrapper,
  #admin-dashboard,
  .search-vendors,
  .categories-wrap,
  .suggestion-boxes {
    display: flex;
    flex-direction: column !important;
  }

  .show-mobile-bar {
    display: flex !important;
    flex-direction: row !important;
  }

  .width-85 {
    width: 85% !important;
  }

  .remove-bar {
    display: none !important;
  }

  .suggestion-boxes {
    width: 100% !important;
  }

  .business-card {
    width: 90% !important;
  }

  .my-highlights {
    width: 90% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #show-side-menu {
    display: block !important;
  }

  #hamburger {
    margin-right: 10px !important;
  }

  #customer-hero {
    display: none !important;
  }
  .pt-110 {
    padding-top: 110px !important;
  }

  .hero-pad {
    padding: 0px 35px 0px 35px !important;
  }

  .stack-categories,
  .replied-by {
    flex-wrap: wrap !important;
  }

  .table-small {
    width: max-content !important;
  }

  .photo-grid {
    justify-content: center !important;
  }
}

@media screen and (max-width: 800px) {
  #show-side-menu {
    display: block !important;
  }
  .hero-pad {
    padding: 0px 25px 0px 25px !important;
  }

  .pt-110 {
    padding-top: 110px !important;
  }

  .show-mobile-bar {
    display: flex !important;
    flex-direction: row !important;
  }

  .remove-bar {
    display: none !important;
  }

  #customer-hero {
    display: none !important;
  }
}
